<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codean.topup.mappers.MataUangMapper">

    <resultMap id="mataUangResultMap" type="com.codean.topup.models.entity.MataUang">
        <id property="idMataUang" column="id_mata_uang"/>
        <result property="namaMataUang" column="nama_mata_uang"/>
    </resultMap>

    <select id="getAllByPage"  resultMap="mataUangResultMap">
        SELECT id_mata_uang, nama_mata_uang FROM mata_uang ORDER BY id_mata_uang
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countMataUang" resultType="long">
        SELECT COUNT(*)
        FROM mata_uang
    </select>

    <select id="getAll" resultMap="mataUangResultMap">
        SELECT id_mata_uang, nama_mata_uang FROM mata_uang ORDER BY id_mata_uang
    </select>

    <select id="getById" resultMap="mataUangResultMap">
        SELECT id_mata_uang, nama_mata_uang FROM mata_uang WHERE id_mata_uang = #{id}
    </select>

    <insert id="create">
        INSERT INTO mata_uang (nama_mata_uang)
        VALUES (#{namaMataUang})
    </insert>

    <update id="update">
        UPDATE mata_uang
        SET nama_mata_uang = #{namaMataUang}
        WHERE id_mata_uang = #{idMataUang}
    </update>

    <delete id="delete">
        DELETE FROM mata_uang WHERE id_mata_uang = #{id}
    </delete>

</mapper>