<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codean.topup.mappers.BayarMapper">

    <resultMap id="bayarResultMap" type="com.codean.topup.models.entity.Bayar">
        <id property="idBayar" column="id_bayar"/>
        <result property="idPaket" column="id_paket"/>
        <result property="idMethod" column="id_method"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO bayar (id_paket, id_method)
        values
        (#{idPaket}, #{idMethod})
    </insert>

    <select id="getById" resultMap="bayarResultMap">
        select id_bayar, id_paket, id_method from bayar where id_bayar = #{id}
    </select>

    <delete id="delete">
        DELETE FROM bayar WHERE id_bayar = #{id}
    </delete>

</mapper>