<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codean.keuangan.mappers.AccountMapper">

    <resultMap id="AccountResultMap" type="com.codean.keuangan.models.entity.Account">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="accountName" column="account_name"/>
        <result property="balance" column="balance"/>
    </resultMap>

    <select id="getAllByPage"  resultType="com.codean.keuangan.models.dtos.pageresult.AccountPagination">
        SELECT id, user_id, account_name, balance
        FROM account
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAccount" resultType="long">
        SELECT COUNT(*)
        FROM account
    </select>
    
    <select id="searchByBalance" resultMap="AccountResultMap">
        select id, user_id, account_name, balance FROM account
        where account.balance BETWEEN #{startBalance} AND #{endBalance}
    </select>

    <select id="getAll" resultMap="AccountResultMap">
        select id, user_id, account_name, balance FROM account ORDER BY id;
    </select>

    <select id="searchByAccountName" resultMap="AccountResultMap">
        select id, user_id, account_name, balance FROM account WHERE account.account_name ILIKE CONCAT('%', #{account.accountName} ,'%')
    </select>

    <select id="getId" resultMap="AccountResultMap">
        select id, user_id, account_name, balance FROM account WHERE id = #{id}
    </select>

    <insert id="create">
        INSERT INTO account (user_id, account_name, balance)
        VALUES
        (#{userId}, #{accountName}, #{balance})
    </insert>

    <update id="update">
        UPDATE account SET user_id = #{userId}, account_name = #{accountName}, balance = #{balance}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM account WHERE id = #{id}
    </delete>


</mapper>